body {
  background-color: white;
  font-family: Crimson Text, serif;
  height: 100vh;
}

/* NAV STYLES */

.navbar-background {
  background-color: white;
}

.header {
  font-family: Homemade Apple, cursive;
}

.dropdown-item:active {
  background-color: white;
}

/* HOME STYLES */
.carousel-inner {
  margin: 10px auto;
  width: 90%;
}

.carousel-item > a, .carousel-item > a:active, .carousel-item > a:hover {
  text-decoration: none;
  color: black;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.slide-text {
  text-align: center;
}

.background {
  background-color: rgb(231, 231, 231);
  margin: 0;
}

#home-text {
  text-align: center;
  margin-top: 50px;
}

#home-btn {
  margin: 30px auto;
}

/* FOOTER STYLES */
#footer {
  text-align: center;
  height: 30px;
}
