body {
  background-color: white;
}

.navbar-background {
  background-color: white;
}

.navbar-brand {
  font-family: Homemade Apple, cursive;
}

.dropdown-item:active {
  background-color: white;
}
